h2{
    color: maroon;
    font-size: 20px;

}
hr{color: navy;}
p{
    font-size: 11pt;
    margin-left: 15px;

}
a:link{
    color: rgba(202, 74, 14, 0.486);
}
a:hover{
    color: rgb(173, 21, 1);
}
a:visited{
    color: blue;
}